/*---------------------------------------*/
/* Colors */
/*---------------------------------------*/


body{ color:#000; }
a,a:visited,a:focus{ color:#000; }
input, select, textarea{color:#7a7a7a;}
input[type=text], input[type=password], select, textarea{border:3px solid #c5c5c5;}
#wrapper_one{ }
#wrapper_two{ }
#wrapper_four{ }
#logo_section_container {
	background:url(images/bgre/menu_bg.png);
}
.logo_title a{
	color:#fff;
}
.logo_desc {
	color:#fff;
}
.logo_desc a{
	color:#ebebeb;
}
/*menu*/
#menu_section_container {
	background:url(images/aqua/ten.png), url(images/bgre/menu_bg.png);
}
.current-menu-item, .current_page_item {
	Background:#000 !important;	
}
#menu select {
	background:none;
	border:1px solid #000;
}
#inner_content_section {
}
#featured_section {
	background:url(images/featured_slider_nav_bg.png) repeat-x top;
}
#featured_section_cont {
	background:url(images/bgre/wilto.png);	
}
.wrsubtexth2 h2 a{
	color:#000;
}
.wrtext p {
	color:#000;
}
.wrtext p a {
	background:#393838;
	border-bottom:3px solid #000;
}
.carousel-next{
	background:url(images/crem/anything-arrows-next.png);
	width:64px;
	height:136px;
}
.carousel-prev{
	background:url(images/crem/anything-arrows-prev.png);
	width:64px;
	height:136px;	
}
#footer_section_cont {
	background:url(images/bgre/wilto.png);	
}
#footer_widget_section_cont {
	background:url(images/aqua/ten.png);
}
#sidebar_search_social {
	background:url(images/aqua/ten.png);	
}
#sidebar_facebook {
	background:url(images/sidebar_facebook.png) no-repeat center right;
	border-bottom:1px solid #DBDADA;
}
#sidebar_facebook p a{
	color:#000;
}
#sidebar_twitter {
	background:url(images/sidebar_twitter.png) no-repeat center right;
	border-bottom:1px solid #DBDADA;	
}
#sidebar_twitter p a{
	color:#000;
}
#twitter_update_list_1985 p{
	color:#000;	
}
#twitter_update_list_1985 p a{
	color:#000;
}
#twitter_update_list_1985 p a.twittertime {
	color:#d3262a;
}
#twitter_update_list_1985 p a.twittertime span{
	color:#6DCFF6;
}
#sidebar {
	background:url(images/aqua/ten.png);
}
/* pro */
.ta_meta_container {
	background:url(images/aqua/ten.png);
	border-bottom:dashed 0px #fdfdfd;
}
.actual_post_title_page h2{
	color:#000;
}
.actual_post_title h2{
	color:#000;
}
.actual_post_title h2 a{
	color:#000;
}
.actual_post_title h2 a:visited{
	color:#000;
}
.actual_post_author {
		
	border:1px solid #79a273;
	border-right:0;
	border-left:0;
}
.actual_post_ratings {
	border:1px solid #79a273;
	border-right:0;
	border-left:0;
	border-bottom:0;	
}
.actual_post_comments {
	color:#000;
}
.metadata{
	border-bottom:1px solid #79a273;
}
.metadata .bot{
	border-bottom:1px solid #79a273;
}
.metadata .label{
	color:#000;
}
.bookmark_button_container {
	border-bottom:1px solid #79a273;
}
.postmetadata{
	border:1px solid #79a273;
	background:#e5e5e5;
}
.post_author_bio {
	background:url(images/aqua/ten.png);
    border-bottom: 0px dashed #FDFDFD;
	border-top: 0px dashed #FDFDFD;
}
.authors_website {
	background:url(images/authors_website.png) no-repeat;
}
.authors_website p{
	color:#050505;
}
.authors_twitter {
	background:url(images/authors_twitter.png) no-repeat;
}
.authors_twitter p{
	color:#050505;
}
.authors_facebook {
	background:url(images/authors_facebook.png) no-repeat;
}
.authors_facebook p{
	color:#050505;
}
.single_newsletter_heading {	
	background:url(images/single_rss.png) right center no-repeat;
}
.single_newsletter_heading p{
	color:#050505;
}
.single_social_share {
	background: #F5F5F5;
    border-bottom: 0px dashed #FDFDFD;
	border-top: 0px dashed #FDFDFD;
}
.single_social_share_heading {
	background:#79a273;
}
.single_social_share_heading p{
	color:#050505;
}
.single_np_prev_np {
	color:#000;
}
.single_np_next_np {
	color:#000;
}
.single_related_title {
	background:#79a273;
	border-top: 0px dashed #FDFDFD;
}
.single_related_title p{
	color:#050505;
}
.single_related_posts {	
	background:#f5f5f5;
	border-bottom: 0px dashed #FDFDFD;	
}
.related_post_title a{
	color:#F26521;
}
.no_comm_single p{
	color:#d3262a;	
}
/* Full width page starts */
#main_content_section_full {
	background:url(images/aqua/ten.png);		
}
#main_content_section_search {
	background:url(images/aqua/ten.png);	
}

#main_content_section_search_title {
	background:url(images/aqua/ten.png);	
}
.main_content_section_search_title {
	color:rgba(255,0,0,1);
}
.fouroh h2 {
	color:rgba(0,0,0,1);	
}
.fouroh p {
	color:rgba(0,0,0,1);	
}
.ta_meta_container_full {
	background:url(images/aqua/ten.png);
	border-bottom:dashed 0px #fdfdfd;
}
.actual_post_title_page_full h2{
	color:#000;
}
/* Full width page ends */
/* entry */
.entry .more-link{
	background:url(images/btn_more.png) no-repeat 100% -25px;
	color:#000;
}
.entry .more-link span{
	color:#000;
	border-bottom: 1px solid #000;
}
.entry .wp-caption{ background:#79a273;}
.entry .wp-caption img{ background:none; }
.entry table{
	border: 1px solid #79a273;
}
.entry table td, .entry table th{
	border: 1px solid #79a273;
}
.entry table th{
	background: #79a273;
}
/* Various Tags & Classes */
.entry acronym, .entry abbr{
	border-bottom: 1px dashed #dfcfba;
}
.entry blockquote{
	border-left:13px solid #79a273;
}
.entry blockquote blockquote{
	border-left:13px solid #6dcff6;
}
blockquote cite {
	color:#000;
}
pre {
	background:url(images/aqua/ten.png);
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #fff;
}
ins {
	background: #79a273;
}
/* Respond */
#respond h3{
	background:url(images/bgr_title.png) no-repeat 0 100%;
}
#commentform #submit{
	background:#000;
	color:#000;
}
/* Comments*/
.commentlist li.comment{
	background:url(images/comments_bg.png) repeat;
}
.commentlist li.trackback{
	background:url(images/comments_bg.png) repeat;
}
.commentlist li.pingback{
	background:url(images/comments_bg.png) repeat;
}
.commentlist .reply a{
	background:#000;
	color:#fff;
}
.commentlist .reply a:hover{
	background:#333;
}
.comment-author img{
	border:3px solid #868686;
}
.commentlist .fn{
	color:#000;
}
.commentlist .comment-author-admin .fn, .commentlist .comment-author-admin .fn a{
	color:#0380ff;
}
.pagination2 span {
	color:#000;
}
.pagination2 a {
	color:#000;
}
/* pagination */
.pagination{
	background:none;
	border:1px solid #79a273;
}
.pagination span, .pagination a{
	border:0px !important;
}
.pagination .pages{
	color:#000;
	background:#79A273;
}
.pagination a:hover, .pagination .current{
	color:#000;
	background:#79A273;
}
/* Sidebar */
.sidebar_widget_top {
	background:#dbdada;
}
.sidebar_widget_bottom {
	background:#E7E6E6;
}
.widget {
	background:url(images/aqua/ten.png);
}
.widgettitle {
	background:url(images/aqua/ten.png);
	color:#000;
}
.widget ul li{
	border-bottom:1px solid #79a273;
}
.widget ul li a{
	color:#000;
}
.widget ul li a:visited{
	color:#000;
}
.widget ul ul a{
	color:#000;
}
.widget ul li ul li{
	
}
.widget .last{
	background:none;
}
/* Calendar */
#wp-calendar caption{color:#658B2D;}
#wp-calendar th,#wp-calendar td{color:#000;}
#wp-calendar td{background:transparent;}
#wp-calendar a{color:#658B2D;}
/* tag cloud */
.tagcloud a{
	color:#000;
}
.widget_poll li{
	border:0;
	background: none;
}
.widget_poll li a{
display: block;
color: #acadac;
}
.wp-polls ul li{
	color:#000;	
	border-bottom:0;
}
.wp-polls p strong{
	color:#000;	
}
.wp-polls p a{
	color:#000;	
}
.wp-polls .Buttons {
	background:#000 !important;
	border:0 !important;
}
.widget select {
	background:#242424;
	border:0;
	color:#000;
}
.widget .current-menu-item, .widget .current_page_item {
	background:none !important;	
}
/* pro */
/* Sidebar */
#footer_section .footerp{
	color:#000;
}
#footer_section .footerp a{
	color:#000;
}
#footer_section .footercredit {
	color:#000;
}
#footer_section .footercredit a{
	color:#000;
}
.footerp .seach_section {
	background:none !important;
}
#gb_form {
  background : transparent;
}
fieldset { 
  border : 0;
}
#gb_form legend#mainlegend { 
  background:url(images/dotted_grey.gif) repeat-x bottom;
}
#gb_form_div .formhead small a {
  background-image : none;
}
#gb_form_div .main_formhead, #gb_form_div .formhead {
  color : #4c4c4c;
}
#gb_form_div input.short, #gb_form_div input.med, #gb_form_div select.med, #gb_form_div textarea.textbox, #gb_form_div textarea { 
  border : 5px solid #383838;
  background-color : #f3f3f3;
}
#gb_form_div input.checkbox {
  background : transparent;
  border : 0;
}
#gb_form_div input.button {
	background:#000;
	border:0;
	border-right:1px solid #000;
	color:#000;
}
#gb_form_div small.whythis a span{ 
  background:#000;
  color : #f5f5f5;
}
#gb_form_div small.whythis a:hover span{ 
  background:#000;
  border:1px solid #fff;
}
#gb_form_div span.items {
  color : #339999;
}

.wpcf7-text {
	border: 5px solid #79a273 !important;
	background:url(images/aqua/ten.png);
}
.wpcf7-email {
	border: 5px solid #79a273 !important;
	background:url(images/aqua/ten.png);
}
.wpcf7-quiz {
	border: 5px solid #79a273 !important;
	background:url(images/aqua/ten.png);
}
.wpcf7-textarea {
	border: 5px solid #79a273 !important;
	background:url(images/aqua/ten.png);
}
.wpcf7-file{
	border: 5px solid #79a273 !important;
	background:url(images/aqua/ten.png);
}
.wpcf7-submit {
	border:0;
	background:#000;
	color:#fff;
}
/* Mag Three starts here */
.magthree_left_individual_post {
	border-bottom:1px solid rgba(0,0,0,0.05);
	
}
.magsix_left_individual_post {
	background:rgba(0,0,0,0.02);
}
.titlemagthree h2{
	border-bottom:1px solid #79a273;
	color:#000;	
}
.titlemagthree h2 a{
	color:#000;
}
.metadatamagthree{
	color:#000;
	border-bottom:1px solid #79a273;
}
.metadatamagthreeratings{
	color:#000;
	background:rgba(0,0,0,0.07);
}
.magthree_featured_image img{
	border:0;
}
.magthree_featured_image_full img{
	border:0;
}
.excerpt_magthree{
	color:#000;
}
.excerpt_magthree_full{
	color:#000;
}
#sidebar_magthree {
	background:url(images/aqua/ten.png);
}
.magfive_excerpt {
	color:#000;
}
/* Mag Three starts here */
#feed_social {
	background:#F6F6F6;
}

#Main_nav .selected a, #nav2 .selected a { color: red }
#main_content_section {
	background:url(images/aqua/ten.png);	
}
#main_content_section_standard {
	background:url(images/aqua/ten.png);
}
.bottomfooterwidgety{
	color:#000;	
}
.seach_section .searchtext{
	background:#79a273;
}
.seach_section .text{
	background:none;
	color:#000;
	border:0;
}
.seach_section .searchsub{
	background:#000;
}
.seach_section .submit{
	color:#ffffff;
	border:0;
	background:none;	
}
.widget .seach_section .searchtext{
	background:#79a273;
}
.widget .seach_section .text{
	background:none;
	color:#000;
	border:0;
}
.widget .seach_section .searchsub{
	background:#000;	
}
.widget .seach_section .submit{
	color:#ffffff;
	border:0;
}
.single_np_prev {
	background:url(images/single_np_prev.png) left center no-repeat;	
}
.single_np_next {
	background:url(images/single_np_next.png) right center no-repeat;	
}
#magthree_left {
	background:url(images/aqua/ten.png);		
}
#magfour_left {
	background:url(images/aqua/ten.png);		
}
#sidebar_ads_container {
	background:url(images/aqua/ten.png);
}
.gallery a img {
	border: none;
}
dl.gallery-item img {
	background: #fff;
	border: 1px solid #eee;
}

#respond #author {
	border: 5px solid #79a273 !important;
	background:url(images/aqua/ten.png);	
}
#respond #email {
	border: 5px solid #79a273 !important;
	background:url(images/aqua/ten.png);	
}
#respond #url {
	border: 5px solid #79a273 !important;
	background:url(images/aqua/ten.png);	
}
#respond #comment {
	border: 5px solid #79a273 !important;
	background:url(images/aqua/ten.png);
}
#respond #submit {
	background:#000;
	border:0;
	color:#000;
}
.widget .current-menu-item, .widget .current_page_item {
    background: none !important;
}