
#container {
	border: 1px solid #999;
	width: 145px;
	overflow: hidden;
}

.item {
	height: 40px;
	width: 40px;
	margin: 4px;
	float: left;
	background-color: #78BA91;
	cursor: pointer;
}

.active {
	background-color: #6B7B95;
}

#multiplePseudoText textarea {
	background: #f8f8f8;
	border: 1px solid #d6d6d6;
	border-left-color: #e4e4e4;
	border-top-color: #e4e4e4;
	padding: 0.3em;
	margin-top: 10px;
	font: 2em sans-serif;
}